<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
							"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<select id="get_gujang_notice" resultType="com.jju_stu.beans.GujangNoticeBean">
		<!-- 구장별 공지사항 가져오기 -->
		<include refid="pagingHeader"></include>
		select * from gujang_notice_table
		where gujang_notice_gujang_idx = #{gujang_idx} order by gujang_notice_idx desc
		<include refid="pagingFooter"></include>
	</select>
	<select id="get_gujang_notice_cnt" resultType="int">
	select count(*) from gujang_notice_table
		where gujang_notice_gujang_idx = #{gujang_idx}
	</select>
	<select id="get_notice_detail" resultType="com.jju_stu.beans.GujangNoticeBean">
		<!-- 공지사항 자세히보기  -->
		select * from gujang_notice_table
		where gujang_notice_idx = #{gujang_notice_idx}
	</select>
	<insert id="add_notice" parameterType="com.jju_stu.beans.GujangNoticeBean">
		<!-- 공지사항 추가 -->
		insert into gujang_notice_table (gujang_notice_idx, gujang_notice_subject, gujang_notice_content, gujang_notice_date, 
		gujang_notice_gujang_idx, gujang_notice_user_idx, gujang_notice_IP)
		values (gujang_notice_seq.nextval, #{gujang_notice_subject}, #{gujang_notice_content}, sysdate, #{gujang_notice_gujang_idx}
		, #{gujang_notice_user_idx}, #{gujang_notice_IP})
	</insert>
	<update id="modify_notice" parameterType="com.jju_stu.beans.GujangNoticeBean">
		<!-- 글 수정 -->
		update gujang_notice_table set gujang_notice_subject=#{gujang_notice_subject}, gujang_notice_content = #{gujang_notice_content}
		where gujang_notice_idx = #{gujang_notice_idx}
	</update>
	<delete id="remove_notice" parameterType="com.jju_stu.beans.GujangNoticeBean">
		<!-- 글 삭제 -->
		delete from gujang_notice_table where gujang_notice_idx=#{gujang_notice_idx}
	</delete>
	<sql id="pagingHeader">
		select * from(
			select rownum as rnum, a.*from(
	</sql>
	<sql id="pagingFooter">
			)A
		)where rnum between #{min} and #{max}
	</sql>
</mapper>