<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
							"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
<sql id="pagingHeader">
		select * from(
			select rownum as rnum, a.*from(
	</sql>
	<sql id="pagingFooter">
			)A
		)where rnum between #{min} and #{max}
	</sql>
	<select id="chk_user_id" resultType="int">
		<!-- 중복확인   OOOOOOOOOOOOOO-->
		select count(*) from user_table where user_id=#{user_id}
	</select>
	<select id="get_login" resultType="int">
		<!-- 로그인 확인 OOOOOOOOOOOOOOOOOOOO-->
		select count(*) from user_table where user_id=#{user_id} and user_pw=#{user_pw}
	</select>
	<select id="get_session_user" resultType="com.jju_stu.beans.UserBean">
		<!-- 유저정보 세션 저장 OOOOOOOOOOOOOOOOOOOOOOO-->
		select user_idx, user_id, user_name, user_status from user_table where user_id=#{user_id}
	</select>
	<insert id="user_join" parameterType="com.jju_stu.beans.UserBean">
		<!-- 회원가입 OOOOOOOOOOOOOOOOOOOOOO-->
		insert into user_table 
			(user_idx, user_name, user_id, user_pw, user_phone1, user_phone2,user_phone3,
			user_join_date, user_join_ip, user_status, user_email1, user_email2, user_stucode)
			values (user_seq.nextval, #{user_name}, #{user_id}, #{user_pw}, 
			#{user_phone1}, #{user_phone2}, #{user_phone3}, sysdate, #{user_join_ip}, 2, #{user_email1}, #{user_email2}, #{user_stucode})
	</insert>
	<select id="get_user_info" resultType="com.jju_stu.beans.UserBean">
		<!-- 내정보 OOOOOOOOOOOOOOOOOOOOOOOOOOOO -->
		select * from user_table where user_idx = #{user_idx}
	</select>
	<select id="developer_get_user_info_cnt" resultType="com.jju_stu.beans.UserBean">
		<!-- 유저상태변경을 페이지 표현을 위한 정보 가져오기 OOOOOOOOOOOOOO -->
		select count(*)
		from user_table where user_status = 3
	</select>
	<select id="developer_get_user_info" resultType="com.jju_stu.beans.UserBean">
		<!-- 유저상태변경을 페이지 표현을 위한 정보 가져오기 OOOOOOOOOOOOOO -->
		select user_idx, user_name, user_id, to_char(user_join_date, 'yyyy-MM-DD') as user_join_date
		from user_table where user_status = 3
	</select>
	<select id="developer_get_user_info_2_cnt" resultType="int">
		<!-- 유저상태변경을 페이지 표현을 위한 정보 가져오기 OOOOOOOOOOOOOO -->
		select count(*)
		from user_table where user_status = 2 and user_id like '%'||#{search_id}||'%'
	</select>
	<select id="developer_get_user_info_2" resultType="com.jju_stu.beans.UserBean">
		<!-- 유저상태변경을 페이지 표현을 위한 정보 가져오기 OOOOOOOOOOOOOO -->
		<include refid="pagingHeader"></include>
		select user_idx, user_name, user_id, to_char(user_join_date, 'yyyy-MM-DD') as user_join_date
		from user_table where user_status = 2 and user_id like '%'||#{search_id}||'%'
		<include refid="pagingFooter"></include>
	</select>
	<update id="set_user_status" parameterType="com.jju_stu.beans.UserBean">
		<!-- 유저 상태 변경 OOOOOOOOOOOOOOOOOOOOOOOOOOO-->
		update user_table set user_status = 2 where user_idx=#{user_idx}
	</update>
	<update id="set_user_status2" parameterType="com.jju_stu.beans.UserBean">
		<!-- 유저 상태 변경 OOOOOOOOOOOOOOOOOOOOOOOOOOO-->
		update user_table set user_status = 3 where user_idx=#{user_idx}
	</update>
	<update id="modify_user_info" parameterType="com.jju_stu.beans.UserBean">
		<!-- 유저 정보수정 OOOOOOOOOOOOOOOOOOOOOOOOO-->
		update user_table 
		set user_pw = #{user_pw}, 
		user_email1 = #{user_email1}, user_email2 = #{user_email2},
		user_phone1=#{user_phone1}, user_phone2=#{user_phone2}, user_phone3=#{user_phone3},
		user_stucode = #{user_stucode}
		where user_idx=#{user_idx}
	</update>
	
</mapper>
