<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
							"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yeahyack">
	<select id="get_yeahyack_day" resultType="com.jju_stu.beans.YeahyackDayBean">
		<!-- 구장예약날짜,시간 가져오기 OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO-->
		select * from yeahyack_day_table 
		where yeahyack_day_gujang_idx = #{yeahyack_day_gujang_idx} and yeahyack_day = #{yeahyack_day}
	</select>

	<select id="day_insert_chk" resultType="int">
	<!-- 이미 컬럼이 존재하는지 확인 OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO -->
		select count(*) from yeahyack_day_table
		where yeahyack_day = #{yeahyack_day} and yeahyack_day_gujang_idx = #{yeahyack_day_gujang_idx}
	</select>
	<select id="get_day_idx" resultType="int">
		select yeahyack_day_idx from yeahyack_day_table
		where yeahyack_day = #{yeahyack_day} 
		and yeahyack_day_gujang_idx = #{yeahyack_day_gujang_idx}
	</select>
	<insert id="day_insert" parameterType="com.jju_stu.beans.YeahyackDayBean">
		<!-- 날짜 선택시 해당 날짜가 없다면 날짜 컬럼 추가 OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO-->
		insert into yeahyack_day_table (
			yeahyack_day_idx, yeahyack_day, yeahyack_day_gujang_idx, yeahyack_time1,
			yeahyack_time2, yeahyack_time3, yeahyack_time4, yeahyack_time5,
			yeahyack_time6, yeahyack_time7, yeahyack_time8, yeahyack_time9,
			yeahyack_time10, yeahyack_time11, yeahyack_time12, yeahyack_time13, 
			yeahyack_time14, yeahyack_time15, yeahyack_time16, yeahyack_time17,
			yeahyack_time18, yeahyack_time19, yeahyack_time20, yeahyack_time21,
			yeahyack_time22, yeahyack_time23, yeahyack_time24	
		)
		values (
			yeahyack_day_seq.nextval, #{yeahyack_day}, #{yeahyack_day_gujang_idx}, 
			1, 1, 1, 1,
			1, 1, 1, 1,
			1, 1, 1, 1, 
			1, 1, 1, 1,
			1, 1, 1, 1,
			1, 1, 1, 1
		)
	</insert>
	<insert id="insert_yeahyack_result" parameterType="com.jju_stu.beans.YeahyackDayBean">
		<!-- 예약 자료 저장 -->
		insert into yeahyack_table (yeahyack_idx, yeahyack_day_idx, yeahyack_phone1, yeahyack_phone2, yeahyack_phone3, 
		yeahyack_pay, yeahyack_IP, yeahyack_gujang_idx, yeahyack_pick_time, yeahyack_status, yeahyack_date)
		values (yeahyack_seq.nextval, #{yeahyack_day_idx}, #{yeahyack_phone1}, #{yeahyack_phone2}, #{yeahyack_phone3}, #{yeahyack_pay}, 
		#{yeahyack_IP}, #{yeahyack_gujang_idx}, #{yeahyack_pick_time}, 1, sysdate)
	</insert>
	<update id="update_gujang_yeahyack" parameterType="com.jju_stu.beans.YeahyackDayBean">
		<!-- 예약시 테이블 시간 상태값 변경 -->
		update yeahyack_day_table set yeahyack_time1= 2
		 where yeahyack_day = #{yeahyack_day} and yeahyack_day_gujang_idx = #{yeahyack_day_gujang_idx}
	</update>
	<update id="default_yeahyack" parameterType="HashMap">
		update yeahyack_day_table set ${pick} = 3
		where yeahyack_day = #{yeahyack_day} and yeahyack_day_gujang_idx = #{yeahyack_day_gujang_idx}
	</update>
	<update id="set_disabled_yeahyack" parameterType="HashMap"> 
		<!-- 구장 이용 불가 시간 상태값 변경 -->
		update yeahyack_day_table set ${pick} = 3 
		where yeahyack_day = #{yeahyack_day} and yeahyack_day_gujang_idx = #{yeahyack_day_gujang_idx}
	</update>
	<update id="set_abled_yeahyack" parameterType="HashMap"> 
		<!-- 구장 이용 불가 시간 상태값 변경 -->
		update yeahyack_day_table set ${pick} = 1
		where yeahyack_day = #{yeahyack_day} and yeahyack_day_gujang_idx = #{yeahyack_day_gujang_idx}
	</update>
	<update id="change_yeahyack_status" parameterType="HashMap">
		<!-- 구장 예약 취소시 예약 상태값 변경 -->
		update yeahyack_table set yeahyack_status = 2
		where yeahyack_day_idx = #{yeahyack_day_idx} and yeahyack_pick_time = #{pick}
	</update>
	<update id="set_return_yeahyack" parameterType="HashMap">
		<!-- 구장 수동 예약  -->
		update yeahyack_day_table set ${pick} = 2 
		where yeahyack_day = #{yeahyack_day} and yeahyack_day_gujang_idx = #{yeahyack_day_gujang_idx} and ${pick} !=2
	</update>
	<select id="yeahyack_check" parameterType="HashMap" resultType="int">
		select count(*) from yeahyack_day_table 
		where yeahyack_day = #{yeahyack_day} and yeahyack_day_gujang_idx = #{yeahyack_day_gujang_idx} and ${pick} = 2 
	</select>
</mapper>